<%- include("templates/header") %>

<form action="/login" method="post">
    <p>Username</p><input type="text" name="username">
    <p>Password</p><input type="password" name="password">
    <br><br><button type="submit">Login</button>
</form>

<%- include("templates/footer") %>